.titulo {
  border: 2px solid #333;       /* Borde del recuadro */
  background-color: #e4ba47;    /* Color de fondo */
  padding: 1cqh 350px;           /* Espaciado interno */
  width: fit-content;           /* Ajusta el ancho al contenido */
  margin: 20px auto;            /* Centrado horizontal */
  text-align: center;           /* Centra el texto */
  font-family: Arial, sans-serif;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.texto{
 
  text-align: justify;         /* Justifica el texto */
  margin: 0 auto;              /* Centra el bloque horizontalmente */
  max-width: 800px;            /* Limita el ancho para mejor lectura */
  padding: 10px 20px;          /* Espaciado interno */
  text-indent: 1cm;            /* Añade sangría de 1 cm */
}

.tabla-texto {
  background-color: #8ab6e6; /* Color de fondo */
  border: none;
  width: 80%;
  margin: 20px auto;
  padding: 0;
  border-collapse: collapse;
}

.civic{
  Color: rgb(145, 11, 11);
  text-align: center;
}

.tabla-texto td {
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: justify;
  border: none;
}

.imagen-flotante1 {
  border-radius: 10px;            /* Bordes redondeados en la imagen */
  box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Sombra suave */
}

.texto-civic1{
   display: flex;                  /* Activa Flexbox para colocar elementos en fila */
  align-items: flex-start;        /* Alinea la parte superior de imagen y texto */
  gap: 20px;                      /* Espacio entre imagen y texto */
  padding: 20px;                  /* Espaciado interno */
  border-radius: 10px;            /* Bordes redondeados */
  max-width: 900px;               /* Ancho máximo del bloque */
  margin: 15px auto;              /* Centrado horizontal */
}

.texto-civic2{
   display: flex;                  /* Activa Flexbox para colocar elementos en fila */
  align-items: flex-start;        /* Alinea la parte superior de imagen y texto */
  gap: 20px;                      /* Espacio entre imagen y texto */
  padding: 20px;                  /* Espaciado interno */
  border-radius: 10px;            /* Bordes redondeados */
  max-width: 900px;               /* Ancho máximo del bloque */
  margin: 15px auto;              /* Centrado horizontal */
}

.imagen-flotante2 {
  border-radius: 10px;            /* Bordes redondeados en la imagen */
  box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Sombra suave */
}

.Características {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  color: blue;
   text-align: right;
}

.características-honda {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

hr {
  border: none;
  border-top: 2px solid blue;
  margin-top: 5px;
}

table {
  margin: auto; /*Crea espacio alrededor de la tabla*/
  border-collapse: collapse; /*Define bordes de las celdas*/ 
  width: 80%; /*Para el ancho de la tabla*/
  background-color: #fff;
}

.tabla-características{
  background-color: #e4ba47;
  border-collapse: collapse;
  border: dotted;
  margin: 40px;
  padding: 40px;
  max-width: 400px;
  color: rgb(34, 120, 201);
}

.presupuesto{
   text-align: center;
    font-family: verdana;
    color:rgb(0, 0, 0);
    font-size:40px;
    background-color: rgb(255, 255, 255);
    padding:10px;
    margin:0px;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}

.Euros{
color:red;
}

.imagenes-finales {
  text-align: center;
   margin: auto;
   padding:10px;
}