    body {
            font-family: Arial, sans-serif;
            background-color: #f9e0c0;
        }

        .formulario {
            width: 500px;
            margin: 30px auto;
            background-color:#f6b26b;
            border: 2px solid #a0410d;
            border-radius: 10px;
            padding: 20px;
        }

        h2 {
            text-align: center;
            color: #000000;
            background-color: #f39c12;
        }

        label {
            display: inline-block;
            width: 120px;
            font-weight: bold;
            color: #ffffff;
            background-color: #a0410d;
            text-align: center;
            padding: 5px;
            margin: 8px 0;
        }

        input[type="text"] {
            width: 60%;
            padding: 5px;
            margin: 5px 0;
            border: 1px solid #999;
            margin-left: 40px;
        }

        input[type="number"] {
            width: 60%;
            padding: 5px;
            margin: 5px 0;
            border: 1px solid #999;
            margin-left: 40px;
        }

        fieldset {
            border: 2px solid #a0410d;
            margin-bottom: 15px;
            margin-top: 15px;
            background-color: #fcd5b5;
        }

        legend {
            font-weight: bold;
            background-color: #a0410d;
            color: white;
            padding: 5px 10px;
        }

        .botones {
            text-align: center;
        }

        input[type="submit"], input[type="reset"] {
            padding: 8px 20px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            background-color: #b1b0b0;
            color: white;
            cursor: pointer;
            font-size: 14px;
        }

        input[type="submit"]:hover, input[type="reset"]:hover {
            background-color: #df3112;
        }

        textarea {
            width: 95%;
            height: 80px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #999;
            margin-bottom: 40px
        }

        hr {
          color:#000000;
        }

        .instrucciones{
          text-align: center;
          background-color: #a0410d;
          color: white;
          margin-top: 40px;
        }

        select {
            padding: 5px;
            border-radius: 5px;
        }