body {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
  grid-template-columns: 3fr 1fr;  /*Crea 3 columnas*/
  grid-template-rows: auto auto 1fr auto;  /*Crea 1 fila*/
  min-height: 900px; /*Para la altura de la pantalla*/
}

/* Cabeza para periódico */
header {
  grid-area: header; /*Indica ser la parte del grid: header*/
  background-color: #4CAF50;
  color: white;
  padding: 16px;  /*Añade espacio alrededor del contenido*/
  text-align: center;
}

/*Portada*/
.portada {
  width: 100%;
  height: auto;  /*Ajusta la altura automáticamente*/
  max-height: 700px;  /*Altira máxima*/
  object-fit: cover;  /*Ajusta la imagen para que cubra el grid acomodándose*/
  margin-bottom: 16px;  /*Deja espacio de 16px bajo la imagen*/
}

/* Menú de navegación */
nav {
  grid-area: nav;  /*Indica ser el grid: nav*/
  background-color: #81C784;  
  padding: 16px;
  display: flex;  /*Hace caja flexible para alinear y distribuir elementos*/
  gap: 16px;  /*Hueco que crea entre elementos*/
  justify-content: center;  /*Centra el contenido*/
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold; /*Letra en negrita*/
}

nav a:hover {
  color: #ffeb3b;
  background-color: gray;
}

/* Tronco */
main {
  grid-area: main;  /*Indica la parte main del grid*/
  padding: 16px;
  background-color: #cbd478;
}

article {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);  /*Sombreado de la caja*/
}

/* Anuncios */
aside {
  grid-area: aside;  /*parte anside del grid*/
  text-align: center;
  background-color: #E1BEE7;
  padding: 16px;
  color: #4A148C;
}

.anunciate{
  font-size: 20px;
}

.tabla{
  width: 100%;
  margin-top: 16px;
  border-collapse: collapse;
  padding: 8px;
  background-color: #f3e5f5;
  color: #4A148C;
  border: 1px solid #673abb;
}

/* Pie de web */
footer {
  grid-area: footer;  /*Indica la parte footer del grid*/
  background-color: #2196F3;
  color: white;
  text-align: center;
  padding: 16px;
}

footer a {
  color: white;
  text-decoration: underline;  /*Añade subrayado*/
}