body{
  font-family: Arial;
  background-color: #f4f4f4;
  text-align: center;
}

table {
  margin: auto; /*Crea espacio alrededor de la tabla*/
  border-collapse: collapse; /*Define bordes de las celdas*/ 
  width: 80%; /*Para el ancho de la tabla*/
  background-color: #fff;
}

th, td {
  border: 1px solid #8d8d8d; /*Elementos del borde*/
  padding: 10px; /*Espacio se añade dentro del borde de th y td*/
}

 .recreo{
    text-align:center; 
    background-color:#ffeeba;
}

th {
  background-color: #e7ee8b;
  color: white;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

th:hover {
  background-color: rgb(80, 140, 219);
}

td:hover {
  background-color: rgb(221, 174, 71);
  color: rgb(46, 122, 221);
}

.horas{
    background-color: rgb(157, 157, 212);
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
}

.tablav {
    display: inline-block;
  }

